docker {
    enabled = true
    runOptions = "-v ${baseDir}/data:/data -v ${baseDir}/work:/work"
}

profiles {
    /* Default profile (local execution) */
    standard {
        params.enable_container = false
        docker.enabled = false
    }

    /* Docker profile */
    docker {
        params.enable_container = true
        docker {
            enabled = true
            runOptions = "-v ${baseDir}/data:/data -v ${baseDir}/work:/work"
        }
    }
}

params {
    reads = "/home/administrator/Documents/workdir/nextflow/human_variant_detection/data/mutect2_example/data/subsample/*_{1,2}.fastq"
    transcript = "/home/administrator/Documents/workdir/nextflow/human_variant_detection/data/hg38.fa"
    known_sites = "/home/administrator/Documents/workdir/nextflow/human_variant_detection/data/Homo_sapiens_assembly38.dbsnp138.vcf"
    known_sites_index = "/home/administrator/Documents/workdir/nextflow/human_variant_detection/data/Homo_sapiens_assembly38.dbsnp138.vcf.idx"
    germline_resource = "/home/administrator/Documents/workdir/nextflow/human_variant_detection/data/mutect2_example/data/af-only-gnomad.hg38.vcf.gz" 
    germline_resource_index = "/home/administrator/Documents/workdir/nextflow/human_variant_detection/data/mutect2_example/data/af-only-gnomad.hg38.vcf.gz.tbi"
    panel_of_normals = "/home/administrator/Documents/workdir/nextflow/human_variant_detection/data/mutect2_example/data/1000g_pon.hg38.vcf.gz"
    panel_of_normals_index = "/home/administrator/Documents/workdir/nextflow/human_variant_detection/data/mutect2_example/data/1000g_pon.hg38.vcf.gz.tbi" 
    exon_region = "/home/administrator/Documents/workdir/nextflow/human_variant_detection/data/mutect2_example/data/exome_calling_regions.v1.1.interval_list"
    annotaion_database_dir = "/home/administrator/Documents/workdir/nextflow/human_variant_detection/data/mutect2_example/data/funcotator_dataSources.v1.8.hg38.20230908s"  
    outdir = "${baseDir}/results2"
}

process {
    executor = 'local'
    cpus = 36
    memory = '102 GB'
    time = '8h'

    withname: BUILD_INDEX {
        cpus = 36
        memory = '48 GB'
        time = '8h'

    }
    withname: "MAPPING"{
        cpus = 36
        memory = '92 GB'
        time = '8h'

    }
}

report {
    enabled = true
    file = "${params.outdir}/report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
    overwrite = true
}

dag {
    enabled = true
    overwrite = true
    file = "${params.outdir}/dag.html"
    overwrite = true
}
